body {
	color: #0C0C10;
	background-color: #AAAAFA;
}

h1 {
	padding: 1px;
	border: 1px solid #c3c3c3;
	border-radius: 7px;
	azimuth: center-right;
	
}

td {
	border: 1px solid #c3c3c3;
	border-radius: 7px;
}

img {
	width: 200px; /* width of each image.*/
	height: 230px; /* height of each image.*/
	border: 0;
	margin-right: 12px; /*spacing between each image*/
	-moz-transition: -moz-transform 0.1s ease-in;
	/*animate transform property */
	-webkit-transition: -webkit-transform 0.1s ease-in;
	-o-transition: -o-transform 0.1s ease-in;
	/*animate transform property in Opera */
}

img:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.8);
	-o-transform: scale(1.8);
}

.uparrowdiv,.downarrowdiv,.leftarrowdiv,.rightarrowdiv {
	min-height: 35px;
	/*min height of DIV should be set to at least 2x the width of the arrow*/
	background: black;
	color: white;
	padding: 2px;
	position: relative;
	word-wrap: break-word;
	-moz-border-radius: 3px; /*add some nice CSS3 round corners*/
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 2px;
}

.uparrowdiv:after { /*arrow added to uparrowdiv DIV*/
	content: '';
	display: block;
	position: absolute;
	top: -20px; /*should be set to -border-width x 2 */
	left: 30px;
	width: 0;
	height: 0;
	border-color: transparent transparent black transparent;
	/*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.downarrowdiv:after { /*arrow added to downarrowdiv DIV*/
	content: '';
	display: block;
	position: absolute;
	top: 100%; /*should be set to 100% */
	left: 90px;
	width: 0;
	height: 0;
	border-color: black transparent transparent transparent;
	/*border color should be same as div div background color*/
	border-style: solid;
	border-width: 8px;
}

.leftarrowdiv:after { /*arrow added to leftarrowdiv DIV*/
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: -20px; /*should be set to -border-width x 2 */
	width: 0;
	height: 0;
	border-color: transparent black transparent transparent;
	/*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.rightarrowdiv:after { /*arrow added to rightarrowdiv DIV*/
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 100%; /*should be set to 100% */
	width: 0;
	height: 0;
	border-color: transparent transparent transparent black;
	/*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.shiftcontainer {
	position: relative;
	left: 5px; /*Number should match -left shadow depth below*/
	top: 5px; /*Number should match -top shadow depth below*/
}

.shadowcontainer {
	background-color: #d1cfd0;
}

.shadowcontainer .innerdiv {
	/* Add container height here if desired */
	background-color: white;
	border: 1px solid gray;
	padding: 6px;
	position: relative;
	left: -5px; /*shadow depth*/
	top: -5px; /*shadow depth*/
}

.cssbutton {
	background-color: #CACAFF;
	border: 2px #d1ec4c outset;
	padding: 1px 4px;
	color: #050550;
	text-decoration: none;
	font: bold 90% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica,
		sans-serif;
	border-radius: 7px;
	text-align: center;
}

.cssbutton:visited {
	color: #050550;
}

.cssbutton:hover {
	border-style: inset;
	background-color: #e3f48e;
	padding: 2px 3px 0 5px; /*shift text 1px to the right and down*/
}

.cssbutton:active {
	color: #050550;
}


.imagepluscontainer{ /* main image container */
position: relative;
z-index: 1;
}

.imagepluscontainer img{ /* CSS for image within container */
position: relative;
z-index: 2;
-moz-transition: all 0.5s ease; /* Enable CSS3 transition on all props */
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.imagepluscontainer:hover img{ /* CSS for image when mouse hovers over main container */
-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-moz-transform: scale(1.05, 1.05);
-webkit-transform: scale(1.05, 1.05);
-ms-transform: scale(1.05, 1.05);
-o-transform: scale(1.05, 1.05);
transform: scale(1.05, 1.05);
}

.imagepluscontainer div.desc{ /* CSS for desc div of each image. */
position: absolute;
width: 90%;
z-index: 1; /* Set z-index to that less than image's, so it's hidden beneath it */
bottom: 0; /* Default position of desc div is bottom of container, setting it up to slide down */
left: 5px;
padding: 8px;
background: rgba(0, 0, 0, 0.8); /* black bg with 80% opacity */
color: white;
-moz-border-radius: 0 0 8px 8px; /* CSS3 rounded borders */
-webkit-border-radius: 0 0 8px 8px;
border-radius: 0 0 8px 8px;
opacity: 0; /* Set initial opacity to 0 */
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); /* CSS3 shadows */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-transition: all 0.5s ease 0.5s; /* Enable CSS3 transition on desc div. Final 0.5s value is the delay before animation starts */
-webkit-transition: all 0.5s ease 0.5s;
-o-transition: all 0.5s ease 0.5s;
-ms-transition: all 0.5s ease 0.5s;
transition: all 0.5s ease 0.5s;
}

.imagepluscontainer div.desc a{
color: white;
}

.imagepluscontainer:hover div.desc{ /* CSS for desc div when mouse hovers over main container */
-moz-transform: translate(0, 100%);
-webkit-transform: translate(0, 100%);
-ms-transform: translate(0, 100%);
-o-transform: translate(0, 100%);
transform: translate(0, 100%);
opacity:1; /* Reveal desc DIV fully */
}

/*### Below CSS when applied to desc DIV slides the desc div from the right edge of the image ###*/

.imagepluscontainer div.rightslide{
width: 150px; /* reset from default */
top:15px;
right:0;
left:auto;  /* reset from default */
bottom:auto;  /* reset from default */
padding-left:15px;
-moz-border-radius: 0 8px 8px 0;
-webkit-border-radius: 0 8px 8px 0;
border-radius: 0 8px 8px 0;
}

.imagepluscontainer:hover div.rightslide{
-moz-transform: translate(100%, 0);
-webkit-transform: translate(100%, 0);
-ms-transform: translate(100%, 0);
-o-transform: translate(100%, 0);
transform: translate(100%, 0);
}

/*### Below CSS when applied to desc DIV slides the desc div from the left edge of the image ###*/

.imagepluscontainer div.leftslide{
width: 150px;  /* reset from default */
top:15px;
left:0;
bottom:auto;  /* reset from default */
padding-left:15px;
-moz-border-radius: 8px 0 0 8px;
-webkit-border-radius: 8px 0 0 8px;
border-radius: 8px 0 0 8px;
}

.imagepluscontainer:hover div.leftslide{
-moz-transform: translate(-100%, 0);
-webkit-transform: translate(-100%, 0);
-ms-transform: translate(-100%, 0);
-o-transform: translate(-100%, 0);
transform:translate(-100%, 0);
}

/*### Below CSS when applied to desc DIV slides the desc div from the top edge of the image ###*/

.imagepluscontainer div.upslide{
top:0;
bottom:auto;  /* reset from default */
padding-bottom:10px;
-moz-border-radius: 8px 8px 0 0;
-webkit-border-radius: 8px 8px 0 0;
border-radius: 8px 8px 0 0;
}

.imagepluscontainer:hover div.upslide{
-moz-transform: translate(0, -100%);
-webkit-transform: translate(0, -100%);
-ms-transform: translate(0, -100%);
-o-transform: translate(0, -100%);
transform:translate(0, -100%);
}


.cssform p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-bottom: 1px dashed gray;
}

.cssform p:last-of-type{
border-bottom: none;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/

* html .threepxfix{
margin-left: 3px;
}